@page
@model AddCommentModel
@{
    ViewData["Title"] = "Add comment";
}
<h1>@ViewData["Title"]</h1>

<form method="post">
    <div class="form-group">
        <label for="content">Comment:</label>
        <textarea id="content" class="form-control" rows="10" maxlength="140" asp-for="Comment.Content"> </textarea>
        <button class="btn btn-outline-success mt-2" type="submit">Submit</button>
    </div>
</form>
